@import url('common.css');


.top {
    margin: 0;
    height: auto;
    margin-bottom: 50px;

}

.top span {
    position: relative;
    display: block;
    width: 1000px;
    height: 400px;
    display: block;
    background: #f2727e;
    opacity: 0.8;
    border-radius: 0px 0px 400px 400px;
    margin: 0 auto;
}

.top img {
    width: 200px;
    height: auto;
    align-items: center;
    margin-left: 550px;
    margin-top: 100px;
}

.top p {
    font-family: Montserrat;
    position: absolute;
    color: #ffffff;
    font-size: 80px;
    margin-left: 250px;
    margin-top: 120px;
}

.about {
    position: relative;
    width: 100%;
    padding-top: 50px;
    background-color: #707070;
    background-repeat: no-repeat;
    opacity: 0.9;
    overflow:hidden;
}

.about {
    position: relative;
    padding-left: 30%;


}

.about h1 {

    display: inline-block;
    color: #ffffff;
    font-size: 74px;
    transform: rotate(90deg);
    transform-origin: left top;
    float: left;
    margin-left: 95px;
    margin-top: 100px;
    font-family: Montserrat;
}

.about span {
    position: relative;
}

.about span:before {
    content: '';
    width: 13px;
    height: 13px;
    background: #ffffff;
    opacity: 0.9;
    border-radius: 6px;
    position: absolute;
    left: calc(10% - 10px);
    top: calc(0% 0px);
}

.about img {
    width: 500px;
    margin-left: 150px;
    padding-bottom: 100px;
    padding-top: -150px;


}


.about_text01 {
    width: 770px;
    height: auto;
    display: block;
}

.about_text01 p {

    color: #ffffff;
    font-size: 35px;

    text-align: left;
    margin-bottom: 20px;


}

.about_text01 a {
    display: inline-block;

    color: #ffffff;
    font-size: 25px;

    text-align: left;
    color: #ffffff;
    margin-bottom: 150px;
}


.about_text02 {
    width: 770px;
    height: auto;
    display: block;
}

.about_text02 p {

    color: #ffffff;
    font-size: 35px;

    text-align: left;
    margin-bottom: 20px;


}

.about_text02 a {
    display: inline-block;

    color: #ffffff;
    font-size: 25px;



    text-align: left;
    color: #ffffff;
    margin-bottom: 150px;
}











.team {
    width: 100%;
    padding-left: 580px;
}

.team h1 {
    margin-left: 102px;
    display: block;
    color: #f5939c;
    font-size: 74px;
    transform: rotate(90deg);
    transform-origin: left top;
    float: left;

    position: absolute;
    font-family: Montserrat;
}

.team h1 span {
    position: relative;
}

.team h1 span:before {
    content: '';
    width: 13px;
    height: 13px;
    background: #f5939c;
    opacity: 0.9;
    border-radius: 6px;
    position: absolute;
    left: calc(10% - 10px);
    top: calc(0% 0px);

}

.team ul {
    width: 100%;
    margin: 0 auto;
}


.team ul li {
    margin-top: 55px;
    margin-bottom: 50px;
}

.team ul li img {

    padding-left: 20%;
    padding-top: 30px;
}

.team ul li p {
    font-size: 45px;
    font-family: Montserrat;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    padding-left: 280px;
    color: #434343;
}

.team ul li a {
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    padding-left: 70px;
    color: #f16370;

}

.team h1 span {
    position: relative;
}

.team h1 span : before {
    content: '';
    width: 3px;
    height: 3px;
    background: #ffffff;
    opacity: 0.9;
    border-radius: 6px;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(0% - 15px);
}



.vision {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 50px;
    background-color: #707070;
    background-repeat: no-repeat;
    background-position: 10% 100px;
    padding-left: 30%;
    opacity: 0.9;
}



.vision h1 {

    display: inline-block;
    color: #ffffff;
    font-size: 74px;
    transform: rotate(90deg);
    transform-origin: left top;
    float: left;
    margin-left: 95px;
    margin-top: 100px;
    margin-bottom: 150px;
    font-family: Montserrat;




}

.vision span {
    position: relative;
}

.vision span:before {
    content: '';
    width: 13px;
    height: 13px;
    background: #ffffff;
    opacity: 0.9;
    border-radius: 6px;
    position: absolute;
    left: calc(10% - 10px);
    top: calc(0% 0px);

}

.vision img {
    width: 500px;
    margin-left: 150px;
    padding-bottom: 100px;



}


.about_text {


    display: inline-block;
    padding-bottom: 200px;

}

.about_text p {

    color: #ffffff;
    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;


    text-align: left;


}

.about_text a {
    display: inline-block;

    color: #ffffff;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;


    text-align: left;
    color: #ffffff;

}




footer {
    margin-top: -30px;
    height: 150px;
    background: #eee;
}



@media all and (min-width:320px) and (max-width:767px) {

       

    .top {
        background: none;

    }

    .top span {
        width: 70%;
        height: 30%;
    }

    .top span p {
        font-size: 100%;
        margin-left: 20%;
    }

    .top span img {
        width: 25%;
        height: auto;
        margin-left: 60%;
        margin-bottom: 20%;
    }


    .about {
        position: relative;
        width: 100%;
        padding-left: 10%;

    }

    .about h1 {
        font-size: 250%;

    }

    .about01 {
        width: 100%;
        margin-left: 0%;
    }

    .about01 img {
        width: 40%;

        padding-bottom: 50px;
        margin-top: 50px;
    }

    .about_text01 {
        width: 50%;
        display: inline-block;
        padding-bottom: 100px;
        margin-left: 30%;
        height: auto;
    }

    .about_text01 p {

        font-size: 100%;
        margin-bottom: 10%;
    }

    .about_text01 a {

        font-size: 100%;
        margin-bottom: 10%;
    }



    .team {
        
        width: 100%;
        padding-left: 10%;
    }

    .team h1 {
        font-size: 250%;
        margin-left: 20%;

    }

    .team ul li img {
        width: 40%;
    }

    .team ul li {
        padding-left: 20%;
        margin-bottom: 5%;
    }

    .team ul li p {
        font-size: 100%;
        padding-left: 20%;
    }

    .team ul li a {
        font-size: 100%;
        padding-left: 0%;
    }








    .vision {
        overflow: hidden;
        position: relative;
        width: 100%;
        padding-left: 10% ;
    }


    .subject {
        position: relative;
        width: 100%;
        padding-left: 9%;
    }


    .vision h1 {
        font-size: 250%;
    }

    .visiom img {
        width: 40%;
        padding-bottom: 50px;
        margin-top: 50px;
    }

    .subject {
        width: 100%;

    }

    .subject img {
        width: 40%;

        padding-bottom: 50px;
        margin-top: 50px;
    }

    .about_text02 {
        width: 50%;
        display: inline-block;
        padding-bottom: 100px;
        margin-left: 30%;
        height: auto;
    }

    .about_text02 p {
        font-size: 100%;
        margin-bottom: 10%;
    }

    .about_text02 a {
        font-size: 100%;
        margin-bottom: 10%;
    }
}










@media all and (min-width:768px) and (max-width:1024px) {
    .top {
        background: none;
    }

    .top {
        background: none;
    }

    .top span {
        width: 700px;
        height: 350px;
        text-align: center;

    }

    .top span p {
        font-size: 60px;
        margin-left: 150px;
    }

    .top span img {
        width: 150px;
        height: auto;
        margin-left: 200px;
    }


    .about {
        position: relative;
        width: 100%;
        padding-left: 10%;
        ;
    }

    .about h1 {
        font-size: 44px;
        margin-left: 95px;
    }

    .about img {
        width: 300px;
        margin-left: -350px;
        padding-bottom: 50px;
        margin-top: 50px;
    }

    .about_text01 {
        display: inline-block;
        padding-bottom: 100px;
        width: 550px;
        height: auto;
    }

    .about_text01 p {
        margin-left: 190px;
        font-size: 25px;
        margin-bottom: 15px;
    }

    .about_text01 a {
        margin-left: 190px;
        font-size: 20px;
        margin-bottom: 25px;
    }



    .team {
        padding-left: 80px;
    }

    .team h1 {
        font-size: 44px;
    }

    .team ul li img {
        width: 380px;
    }

    .team ul li {
        margin-bottom: 55px;
    }

    .team ul li p {
        padding-left: 150px;
    }

    .vision {
        width: 100%;
        height: auto;
        margin-left: -17%;
    }

    .subject {
        position: relative;
        width: 100%;
        padding-left: 9%;
    }


    .vision {
        position: relative;
        width: 100%;
        margin-left: 10%;

    }

    .vision h1 {
        margin-left: -190px;
        font-size: 44px;
        padding-top: -500px;
    }




    .vision img {
        width: 250px;
        margin-left: -350px;
        margin-top: 250px;
    }

    .about_text02 {
        display: inline-block;
        padding-bottom: 50px;
        width: 450px;
        height: auto;
    }

    .about_text02 p {
        margin-left: 0px;
        font-size: 25px;
        margin-bottom: 15px;
    }

    .about_text02 a {
        margin-left: 0px;
        font-size: 20px;
        margin-bottom: 55px;
    }
}


@media all and (width:1024px) {.vision {
        position: relative;
        width: 100%;
        margin-left: 0%;}
