@import url('common.css');


.visual > p1 {
    position: absolute;
    left: 40%;
    top: 80px;
    font-size: 35px;
    font-weight: bold;
    color: #434343;

}

.visual > p2 {
    position: absolute;
    left: 45%;
    top: 120px;
    font-size: 40px;
    font-weight: bold;
    color: #f16370;

}

.visual > p2 span {
    position: relative;
}

.visual > p2 span:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #f74f4f;
    opacity: 0.9;
    border-radius: 10px;
    border: 1px solid #f74f4f;
    position: absolute;
    left: calc(50% - 4px);
    top: calc(-10% - 4px);

}



.search {
    width: 1152px;
    margin: 0 auto;
    padding-top: 20px;
}

.pink {
    width: 1152px;
    height: 145px;
    background-color: #f16370;
}


.white {}

.white ul {
    width: 1100px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}

.white ul li {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-top: 30px;
}

.white ul li p {
    padding-top: 5px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #463d3e;
    background-color: white;
}

.white ul li p img {
    padding-left: 5px;
}





.order ul {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
}

.order ul li {}

.order ul li p {
    font-size: 20px;
    color: #ffffff;
}




.order ul li span {
    position: relative;
}

.order ul li span:before {
    content: '';
    width: 3px;
    height: 3px;
    background: #ffffff;
    opacity: 0.9;
    border-radius: 6px;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(0% - 15px);
}











.upper-part {
    width: 1161px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 50px;

}

.upper-part h1 {
    font-size: 17px;
    font-family: 'Regular';

}

.upper-part h2 {
    font-size: 25px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 45px;
}

.upper-part h2:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #ee2d3f;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: -3.2px;

}

.cardform {
    max-height: 458px;
}




.card figure {
    width: 40%;
}

.card figure img {
    width: 514px;
    height: 458px;
    float: left;
    padding-bottom: 30px
}

.card_text {
    border: 1px solid #aaaaaa;

    float: right;
    width: 628px;
    padding: 20px 40px;


}

.text1 {
    font-size: 35px;
    color: #565353;
    font-weight: 900;
    height: 30px;
    padding-top: 10px;
}

.text2 {
    font-size: 23px;
    color: #565353;
    font-weight: 500;
    letter-spacing: -1.8px;
    padding-top: 30px;
}

.text3 {
    font-size: 18px;
    color: #565353;
    font-weight: normal;
    letter-spacing: -1.2px;
    white-space: pre-line;
    padding-top: 30px;
}

.text4 {
    font-size: 18px;
    color: #f16370;
    font-weight: normal;
    letter-spacing: -1.2px;
    padding-top: 20px;
}


.text5 ul {
    width: 400px;
    float: left;
    display: flex;
    justify-content: space-between;
}

.text5 ul li {}

.text5 {
    font-size: 18px;
    color: #565353;
    font-weight: normal;
    letter-spacing: -1.2px;
    padding-top: 15px;

}

.text5 p {
    font-size: 20px;
    color: #565353;
    font-weight: normal;
    letter-spacing: -1.2px;
    margin-top: 50px;
    padding-bottom: 10px;
    display: inline-block;
}

.text5 a {
    font-size: 20px;
    color: #565353;
    font-weight: normal;
    padding: 5px;
}


.more {
    text-align: center;
    margin-top: 3800px;
    border: 1px solid #aaaaaa;
    width: 200px;
    height: 68px;
    margin-left: 500px;
}

.more p {
    font-size: 20px;
}

.more p img {}



footer {

    height: 150px;
    background: #eee;
    margin-top: 500px;
}

footer > div {
    width: 1152px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

footer div p {
    white-space: pre-line;
    font-size: 14px;
}

footer div img {
    margin: 0 4px;

}





figure {
    margin: 0;
}




@media all and (min-width:320px) and (max-width:767px) {
    main {
        width: 100%;
        align-items: center;
    }

    .search {
        width: 100%;
        height: auto;
    }

    .pink {
        width: 100%;
    }




    .white ul {
        width: 100%;
    }

    .location {
        margin-top: 20px;
    }

    .pink ul li p {
        font-size: 100%;
        padding: 5px 0;
    }

    .upper-part {
        width: 100%;
    }


    .cafe_list_all {
        margin: 30px;
    }

    .card {
        width: 100%;
    }

    .card figure {
        width: 100%;
        height: 100%;
    }

    .card figure img {
        width: 100%;
        height: auto;
        padding-bottom: 5%;

    }

    .card_text {
        width: 100%;
        border: 1px solid #aaaaaa;

        margin-left: 0%;

        height: auto;

        padding-left: 1%;
        padding-bottom: 1%;
        margin-top: -5%;
        margin-bottom: 4%;
        display: flex;


    }

    .text1 {
        font-size: 100%;
        color: #565353;
        font-weight: 50;
        height: auto;
        padding-top: 0%;
    }

    .text2 {
        font-size: 100%;
        color: #565353;
        font-weight: 0;
        letter-spacing: -1.8px;
        padding-top: 0%;
    }

    .text3 {
        font-size: 100%;
        color: #565353;
        font-weight: normal;
        letter-spacing: -1.2px;
        white-space: pre-line;
        padding-top: 2%;
    }

    .text4 {
        font-size: 100%;
        color: #f16370;
        font-weight: normal;
        letter-spacing: 0px;
        padding-top: 1%;
        margin-bottom: 3%;
    }


    .text5 ul {
        width: 100%;
        float: left;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0%;
    }

    .text5 ul li {
        margin-top: -10%;
        margin-bottom: 2%;
    }

    .text5 ul li img {
        width: 30%;
        height: auto;
    }

    .text5 {
        font-size: 20%;
        color: #565353;


        padding-top: 2%;

    }

    .text5 p {
        font-size: 100%;


    }

    .text5 a {
        font-size: 100%;
        color: #565353;

        padding: 1%;
    }

    .more {

        margin-top: 3000px;
        border: 1px solid #aaaaaa;
        width: 100%;
        height: auto;
        margin-left: 0%;
    }

    .more p {
        font-size: 100%;
    }

    .more p img {
        width: 100%;
    }


    footer {
        width: 100%;
    }

    footer div {
        width: 50%;
    }
}

@media all and (min-width:768px) and (max-width:1024px) {
    main {
        width: 100%;
        align-items: center;
    }

    .search {
        width: 100%;
        height: auto;
    }

    .pink {
        width: 100%;
    }




    .white ul {
        width: 100%;
    }

    .location {
        margin-top: 20px;
    }

    .pink ul li p {
        font-size: 100%;
        padding: 5px 0;
    }

    .cafe_list_all {
        width: 100%;
        margin: 30px;
    }


    .card {
        width: 100%;
    }

    .card figure {
        width: 100%;
        height: auto;
    }

    .card figure img {
        width: 100%;

        padding-bottom: 5%;

    }

    .card_text {
        width: 100%;
        border: 1px solid #aaaaaa;
        height: auto;
        padding-bottom: 1%;
        margin-top: -5%;
        margin-bottom: 4%;


    }

    .text1 {
        font-size: 100%;
        color: #565353;
        font-weight: 550;
        height: auto;
        padding-top: 1%;
    }

    .text2 {
        font-size: 100%;
        color: #565353;
        font-weight: 0;
        letter-spacing: -1.8px;
        padding-top: 2%;
    }

    .text3 {
        font-size: 100%;
        color: #565353;
        font-weight: normal;
        letter-spacing: -1.2px;
        white-space: pre-line;
        padding-top: 2%;
    }

    .text4 {
        font-size: 100%;
        color: #f16370;
        font-weight: normal;
        letter-spacing: 0px;
        padding-top: 1%;
        margin-bottom: 3%;
    }


    .text5 ul {
        width: 100%;
        float: left;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0%;
    }

    .text5 ul li {
        margin-top: -10%;
        margin-bottom: 2%;
    }

    .text5 ul li img {
        width: 30%;
        height: auto;
    }

    .text5 {
        font-size: 20%;
        color: #565353;


        padding-top: 2%;

    }

    .text5 p {
        font-size: 20%;


    }

    .text5 a {
        font-size: 20%;
        color: #565353;

        padding: 1%;
    }

    .more {

        margin-top: 5600px;
        border: 1px solid #aaaaaa;
        width: 80%;
        height: auto;
        margin-left: 0%;
    }

    .more p {
        font-size: 100%;
    }

    .more p img {
        width: 100%;
    }


    footer {
        width: 100%;
    }

    footer div {
        width: 50%;
    }
}

@media all and (width:1024px) {}
