@import url('common.css');


.visual p {
    left: calc(50% - 90px);
}

.contents {
    width: 1152px;
    margin: 0 auto;
}

.contents:after {
    content: '';
    clear: both;
    display: block;
}

.side_menu {
    width: 193px;
    border-right: 1px solid #f3848f;
    margin-top: 50px;
    float: left;
    position:sticky;
    top:0;
    height:980px;
}

.side_menu ul li {
    padding-top: 32px;
    padding-bottom: 18px;
    border-bottom: 1px solid #f3848f;
    width: 175px;
}

.side_menu ul li span {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #f3848f;
    border-radius: 10px;
    text-align: center;
    padding-top: 1px;
}
.click{background:#f3848f;}

.side_menu ul li a {
    margin-left: 20px;
    padding-top: 1px;
}

.con1 {
    float: left;
    margin-left: 94px;
    margin-top: 42px;
    width:865px;
}

.con1 .img a{
    display:inline-block;
    width:204px;
    vertical-align: top;
    margin-top:34px;
    margin-left:50px;
}
.con1 .img a+a{margin-left:68px;}

.con1 .create h2{
    font-size:24px; margin-top:32px;
}

.con1 .create > p,
.con1 .develop > p{
    font-size:18px;
    height:40px;
    border-top:1px solid #f3848f;
    border-bottom:1px solid #f3848f;
    line-height: 40px;
    margin-top:25px;
}
.con1 .develop{
    border-bottom: 1px solid #d9d9d9;
    padding-bottom:90px;
}

.info form select{width:500px; height:50px; font-size:18px;}
.info form select option{font-size:18px;}

.class_info{
    margin-top:50px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom:90px;
}
.class_info h2{
    color:#f3848f;
    font-size:24px;
} 
.class_info > p{
    color:#bfbfbe;
    font-size:14px;
}

.info div{
    margin-top:50px;
}
.info h3{
    margin-bottom:8px;
}

.sebu p{
    background:#bfbfbe;
    height:77px;
    padding-left:8px;
    padding-top:10px;
}

.sebu p strong{
    color:#f00;
    text-decoration: underline;
}
.sebu input{
    width:100%;
    margin-top:10px;
    height:50px;
}

.date input:nth-of-type(1){
    margin-top:50px;
    width:500px; height:50px;
    font-size:18px; padding-left:20px;
}

.date select{
    margin-top:30px; padding-left:20px;
}

.date input:nth-of-type(2), .date input:nth-of-type(3){
    width:200px; height:50px; margin-top:30px;
    text-align: center; font-size:18px;
}


.cover_thum{
    margin-top:50px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom:90px;
}
.cover_thum h2{font-size:24px; color:#f3848f;}
.cover_thum h3{font-size:18px;}
.cover_thum p{font-size:14px; color:#bfbfbe;}


.float{margin-top:80px;}
.float:after{
    content:'';
    display:block;
    clear:both;
}

.float .floatL{
    float:left;
    width:30%;
}

.float .floatR{
    float:right;
    width:65%;
}

.floatR input{width:100%;}

.float h3{margin-bottom:10px;}


.floatR img{width:180px; height:180px;}

.cover_thum .float:nth-of-type(2) .floatR img{width:180px; height:150px;}

.cover_thum .float .floatR img+img{margin-left:10px;}


.coverEx{margin-top:6px;}
.thumEx{margin-top:10px;}

.info3{
    margin-top:50px;
    padding-bottom: 80px;
    border-bottom: 1px solid #bfbfbe;
}
.info3 h2{color:#f3848f; font-size:24px;}
.info3 > p{color:#bfbfbe; font-size:14px;}
.info3 .info3_1{margin-top:50px;}
.info3 .info3_1 ul{}
.info3 .info3_1 ul li{
    width:30%;
    display:inline-block;
    margin:13px;
}
.info3 .info3_1 ul li a{
    width:100%; height:260px;
    display:inline-block;
    border:1px solid #000;
    color:#bfbfbe;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
}
.info3 .info3_1 ul li input{
    width:100%; height:100px;
    margin-top:3px;
}


.myinfo{
    margin-top:50px;
    padding-bottom:80px;
    border-bottom:1px solid #bfbfbe;
}
.myinfo h2{color:#f3848f; font-size:24px;}
.myinfo h3{font-size:18px;}
.myinfo .floatR a{margin-left: 40px; display:inline-block;}
.myinfo .floatR a:nth-of-type(2){
    width:90%; height:40px;
    margin-top:10px;
    border:1px solid #000; text-align: center;
    line-height:40px; 
}
.myinfo .floatR a:nth-of-type(2):hover{background:#bfbfbe;}

.myinfo div{
    margin-top:50px;
}
.myinfo input{
    margin-top:10px;
    width:330px;
    height:50px;
}

.myinfo .nickname p{color:#bfbfbe; font-size:14px;}

.advice{margin-top:50px; padding-bottom:80px; border-bottom:1px solid #bfbfbe;}
.advice h2{font-size:36px; color:#f3848f;}
.advice ul{margin-top:50px;}
.advice ul li{
    margin:20px 0;
    font-size:24px;
}

.save{text-align: end; margin-top:20px;}
.save a{
    display:inline-block;
    width:80px;
    height:40px;
    background:#f3848f;
    border-radius:10px;
    line-height: 40px; text-align:center;
}




@media all and (min-width:768px) and (max-width:1024px) {
    .contents{width:100%;}
    .side_menu{display:none;}
    .con1{margin:0 auto; width:100%; float:none;}
    .create .img a{width:29%;  margin-left:26px;}
    .create .img a+a{ margin-left:26px;}
    .create .img a img{width:100%;}
    .develop .img a{width:29%; margin-left:26px;}
    .develop .img a img{width:100%;}
    .con1 h2{font-size:20px;}
    .con1 p{font-size:12px;}
    .sebu p{width:90%; height:20%; margin:0 auto;}
    
    .date input:nth-of-type(2), .date input:nth-of-type(3){
    width:300px; height:60px; margin-top:30px;
    text-align: center; font-size:22px;
    }
 
    .date input:nth-of-type(1){
    margin-top:50px;
    width:700px; height:60px;
    font-size:22px; padding-left:20px;
    }

    .date select{
    margin-top:30px; padding-left:20px; width:90%;
    }
    .sebu input{
    width:90%;
    margin-top:10px;
    height:60px; font-size:22px;
    }
    .class_info{text-align: center;}
    .save{text-align: center; margin-top:50px;}
    .save a{width:250px; height:60px;
    line-height: 60px;}
    
    .info3 h2{font-size:30px; text-align: center;}
    .info3 > p{font-size:22px; text-align: center;}
    .info3 .info3_1 ul li{
    width:43%; 
    display:inline-block;
    margin:25px;
    }
    
    .info3 .info3_1 ul li a{
    width:100%; height:250px;
    
}
.info3 .info3_1 ul li input{
    width:100%; height:60px;
    margin-top:3px;
}
    
    .myinfo .floatL{float:none; display:inline;}
    .myinfo .floatR a{margin:0;}
    .myinfo .floatR{float:none; display:inline;}
    .myinfo{text-align: center;}
    .myinfo h3{font-size:2rem;}
    .myinfo .nickname p{font-size:24px;}
    
    .cover_thum{text-align: center;}
    .cover_thum h3{font-size:2rem;}
    .cover_thum .float .floatL{
    float:none;
    width:100%;
        margin:0 auto;
    }

    .cover_thum .float:nth-of-type(1) .floatL img{
        width:80%; height:350px;
    }
    .cover_thum .float .floatL img{
        width:80%; height:300px;
    }

    .cover_thum .float .floatR{
    float:none;
    width:80%;
        margin:0 auto;
    }
    .cover_thum .float .floatR input{width:100%; height:50px;}

    .class_info h2 {font-size:30px;}
    .class_info > p{font-size:22px;}

    .cover_thum h2 {font-size:30px;}
    .cover_thum > p{font-size:22px;}
    .cover_thum .floatR h2{font-size:24px;}
    .cover_thum .floatR p{font-size:22px;}
    .phoneNum input{font-size:22px;}

    .date input:nth-of-type(1){
        width:90%;
    }
    .date input:nth-of-type(2), .date input:nth-of-type(3){
        width:40%;
    }
    .info form select{
        width:90%;
    }
    .contents h2{font-size:24px;}
}

@media all and (min-width:320px) and (max-width:767px) {
    .contents{width:100%;}
    .side_menu{display:none;}
    .con1{margin:0 auto; width:100%; float:none;}
    .create .img a{width:25%;  margin-left:20px;}
    .create .img a+a{ margin-left:20px;}
    .create .img a img{width:100%;}
    .develop .img a{width:25%; margin-left:20px;}
    .develop .img a img{width:100%;}
    .con1 h2{font-size:20px;}
    .con1 p{font-size:12px;}
    .sebu p{width:100%; height:20%; margin:0 auto;}
    
    .date input:nth-of-type(2), .date input:nth-of-type(3){
    width:300px; height:60px; margin-top:30px;
    text-align: center; font-size:22px;
    }
 
    .date input:nth-of-type(1){
    margin-top:50px;
    width:700px; height:60px;
    font-size:22px; padding-left:20px;
    }

    .date select{
    margin-top:30px; padding-left:20px;
    }
    .sebu input{
    width:100%;
    margin-top:10px;
    height:60px; font-size:22px;
    }
    .class_info{text-align: center;}
    .save{text-align: center; margin-top:50px;}
    .save a{width:250px; height:60px;
    line-height: 60px;}
    
    
    .info3 .info3_1 ul li{
    width:43%; 
    display:inline-block;
    margin:10px;
    }
    
    .info3 .info3_1 ul li a{
    width:100%; height:150px;
    
}
.info3 .info3_1 ul li input{
    width:100%; height:50px;
    margin-top:3px;
}
    
    .myinfo .floatL{float:none; display:inline;}
    .myinfo .floatR a{margin:0;}
    .myinfo .floatR{float:none; display:inline;}
    .myinfo{text-align: center;}
    .myinfo h3{font-size:2rem;}
    .myinfo .nickname p{font-size:24px;}
    
    .cover_thum{text-align: center;}
    .cover_thum h3{font-size:2rem;}
    .cover_thum .float .floatL{
    float:none;
    width:100%;
        margin:0 auto;
    }

    .cover_thum .float:nth-of-type(1) .floatL img{
        width:100%; height:350px;
    }
    .cover_thum .float .floatL img{
        width:100%; height:300px;
    }

    .cover_thum .float .floatR{
    float:none;
    width:70%;
        margin:0 auto;
    }
    .cover_thum .float .floatR input{width:100%; height:50px;}

    .class_info h2 {font-size:24px;}
    .class_info > p{font-size:12px;}

    .cover_thum h2 {font-size:24px;}
    .cover_thum > p{font-size:12px;}
    .cover_thum .floatR h2{font-size:22px;}
    .cover_thum .floatR p{font-size:12px;}
    .phoneNum input{font-size:22px;}

    .date input:nth-of-type(1){
        width:100%;
    }
    .date input:nth-of-type(2), .date input:nth-of-type(3){
        width:40%;
    }
    .info form select{
        width:100%;
    }
    .advice ul li{font-size:18px;}
}
