@import url('common.css');

.main-visual {
    height: 600px;
    margin: 0 auto;
    background: url(../img/main_background.svg) center no-repeat;
    position: relative;
    z-index: 1;
}



.content {
    width: 1152px;
    margin: 0 auto;
    position: relative;
    height: 600px;
    padding: 60px 0;

}

.slide {
    position: absolute;
    left: 0;
    top: 60px;
    width: 60%;
    height: 480px;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
}

.slide p {}

.slide div {}

.slide .cont {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.slide .cont figure {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.cont figure:nth-of-type(1) {
    left: 0%;
}

.cont figure:nth-of-type(2) {
    left: -100%;
}

.cont figure:nth-of-type(3) {
    left: -200%;
}

.cont figure:nth-of-type(3) {
    left: -300%;
}

.slide figure img {
    width: 100%;
    height: 100%;
}


.cont > p {
    font-size: 22px;
    color: #fff;
    line-height: 50px;
    margin-top: 20px;
    margin-left: 40px;

}

.cont > p:nth-of-type(2) {
    font-size: 36px;
    white-space: pre-line;
    margin-top: 5px;
    font-weight: bold;
}

.slide .indi {
    width: 30%;
    position: absolute;
    z-index: 0;
    left: 35%;
    bottom: 5%;
    display: flex;
    justify-content: space-between;


}

.slide .indi a {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 10px;
    background: #ed2e45;
}


.search {
    width: 1152px;
    margin: 0 auto;

}

.pink {
    width: 1152px;
    background-color: #f16370;
}


.white ul {
    width: 1100px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;


}

.white ul li {
    display: inline-block;
    width: 18%;
    margin-top: 30px;
}

.white ul li p {
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #463d3e;
    background-color: white;
    padding: 10px 0;
}

.white ul li p img {
    padding-left: 5px;
}





.order ul {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;

    padding: 10px 0;
}

.order ul li {}

.order ul li p {
    font-size: 20px;
    color: #ffffff;
}




.order ul li span {
    position: relative;
}

.order ul li span:before {
    content: '';
    width: 3px;
    height: 3px;
    background: #ffffff;
    opacity: 0.9;
    border-radius: 6px;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(0% - 15px);
}


.circle {
    align-items: center;
}

.circle ul {
    width: 1152px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}


.circle ul li {
    width: 232px;
    display: inline-block;
    height: 48px;
    background-color: #ffffff;
    padding: 0 auto;
    text-align: center;
    margin: 0 auto;

}

.circle ul li img {
    width: 95px;
    height: 95px;
    border-radius: 95px;


}

.circle ul li img: hover {
    transition: 0.5s;
    transform: scale(2)
}



.circle ul li p {
    font-size: 17.5px;
    color: #404040;
    text-align: center;
}







.location {
    width: 1152px;
    margin: 30px auto;
}




.upper-part,
.lower-part {
    width: 1152px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.upper-part h2 {
    position: relative;
}

.upper-part h2:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #ee2d3f;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: -10px;

}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.card {
    width: 270px;
    /*   box-shadow: 0px 2px 2px #626262;*/


    /*    border-radius: 10px;*/
}

.card figure {
    width: 270px;
    height: 368px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    border: 0px solid #000;

}


.card figure img:hover {

    transition: 0.2s;
    transform: scale(1.05)
}

.texara {
    height: 120px;
    position: relative;
    margin-top: 0px;
}


    {
    font-size: 12px;
}




.card-categ {
    font-weight: 600;
    font-size: 12px;
}

.card-title {
    font-weight: 600;
    font-size: 18px;
}

.card-location {
    font-size: 12px;
}

.card-price {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: end;
    font-weight: bold;
    color: #f16370;
    font-size: 20px;
}

.banner {
    width: 100%;
    background: #103a2c;
    padding: 20px 0;
}

.banner-cont {
    width: 1152px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;

}

.banner-cont img {
    width: 340px;
    height: 276px;
    margin-right: 50px;
}

.banner-cont div {}

.banner-cont div p {
    color: #fff;
}

.banner-cont div p {
    font-size: 40px;
    font-weight: 600;
}

.banner-cont div p:nth-of-type(2) {
    font-size: 20px;

    font-weight: 400;
}

.banner-cont div a {
    border: 1px solid #fff;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 26px;
    color: #fff;
}

.lower-part h2 {
    position: relative;
}

.lower-part h2:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #ee2d3f;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: -10px;

}

.soo-card figure {
    width: 100%;
}

.soo-card figure img {
    width: 100%;
}

.texpe {
    height: 120px;
    margin-top: 0px;
    background: #005982;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.texpe p {
    margin: 0 auto;
    width: 200px;
    color: #fff;
    white-space: pre-line;
    text-align: center;
    font-size: 18px;
}

.resi {
    width: 1144px;
    margin: 0 auto;
}

.resi p {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
}

.resi a {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    background: #f0616d;
    display: inline-block;
    padding: 5px;
    margin-top: 15px;
}

.resi img {
    filter: brightness(90%);
}

.caferesi {
    position: relative;
}

.classresi {
    position: relative;
}

.caferesi div {
    position: absolute;
    left: 50px;
    top: 30%;
}

.classresi div {
    position: absolute;
    left: 50px;
    top: 30%;
}

.resi div div p span {
    position: relative;
}

.resi div div p span:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #f74f4f;
    opacity: 0.9;
    border-radius: 10px;
    border: 1px solid #f74f4f;
    position: absolute;
    left: calc(50% - 4px);
    top: calc(-10% - 4px);

}

@media all and (min-width:320px) and (max-width:767px) {
    .main-visual {
        background: none;
    }

    header,
    main {
        width: 100%;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }


    .main-visual {
        height: 200px;
        padding: 20px 0;
    }

    .content {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .slide {
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0;
    }

    .cont {
        width: 100%;
        height: 100%;
    }

    .cont > p {
        font-size: 10px;
        color: #fff;
        line-height: normal;
        margin-top: 20px;
        margin-left: 40px;

    }

    .cont > p:nth-of-type(2) {
        font-size: 15px;
        white-space: pre-line;
        margin-top: 5px;
        font-weight: bold;
    }

    .indi a {
        border-radius: 5px;
        height: 5px !important;
        width: 5px !important;
    }

    .pink {
        padding: 0 30px;
    }

    .upper-part,
    .lower-part,
    .search,
    .pink,
    .white,
    .white ul,
    .banner-cont,
    .location {
        width: 100%;
    }

    .location {
        margin-top: 20px;
    }

    .pink ul li p {
        font-size: 8px;
        padding: 5px 0;

    }

    .order ul {
        width: 70%;
        margin: 0 auto;

    }


    .card {
        width: 100%;
    }

    .card a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card figure {
        width: 50%;
        height: 100px;
    }

    .card figure img {
        width: 100%;
    }

    .texara {
        width: 50%;
    }

    .card-price {
        font-size: 16px;
    }


    .soo-card {
        width: 80%;
        margin: 10px auto;
    }

    .banner {
        display: none;
    }

    .resi {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 100px;
    }

    .caferesi,
    .classresi {
        width: 100%;
        margin: 0 auto;
    }

    .caferesi img,
    .classresi img {
        width: 100%;
    }
    .caferesi p,
    .classresi p
    {
        font-size: 20px;
    }    
    .caferesi a,
    .classresi a
    {
        font-size: 18px;
    }
    .row {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }

}

@media all and (min-width:768px) and (max-width:1024px) {
    .main-visual {
        background: none;
    }

    header,
    main {
        width: 90%;
        margin: 0 auto;
    }

    footer {
        width: 100%;
    }

    .main-visual {
        height: 300px;
        padding: 20px 0;
    }

    .content {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .slide {
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0;
    }

    .cont {
        width: 100%;
        height: 100%;
    }

    .cont > p {
        font-size: 18px;
        color: #fff;
        line-height: normal;
        margin-top: 20px;
        margin-left: 40px;

    }

    .cont > p:nth-of-type(2) {
        font-size: 25px;
        white-space: pre-line;
        margin-top: 5px;
        font-weight: bold;
    }

    .pink {
        padding: 0 30px;
    }

    .upper-part,
    .lower-part,
    .search,
    .pink,
    .white,
    .white ul,
    .banner-cont,
    .location {
        width: 100%;
    }

    .pink ul li p {
        font-size: 15px;
    }

    .card {
        width: 40%
    }

    .card figure {
        width: 100%;
        height: 230px;
    }

    .card figure img {
        width: 100%;
    }

    f .soo-card {
        margin: 10px 0;
    }

    .resi {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 100px;
    }

    .caferesi,
    .classresi {
        margin: 0 auto;
    }

    .banner-cont {
        padding: 0 20px;
    }

    .banner-cont img {
        height: 200px;
    }

    .banner-cont div p {
        margin: 10px 0;
        font-size: 20px;
    }

    .banner-cont div p:nth-of-type(2) {
        font-size: 15px;
        font-weight: 400;
    }

    .row {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }

}

@media all and (width:1024px) {
    .main-visual {
        background: url(../img/main_background.svg) right no-repeat;
        background-size: 120%;
        height: 400px;
    }

    .card {
        width: 30%;
    }

    .soo-card {
        width: 30%;
    }

    .caferesi,
    .classresi {
        width: 48%;
        margin: 0;
        overflow: hidden;
    }

    .card figure {
        width: 100%;
        height: 60%;
    }

    .slide {
        width: 50%;
        height: 70%;
        overflow: hidden;
        top: 15%;
    }
}
