@import url('common.css');

.visual {
    width: 100%;
}

.visual > p {
    position: absolute;
    left: 450px;
}


main {
    width: 100%;
    margin: auto;
}



.search {
    width: 1152px;
    margin: 0 auto;
    padding-top: 20px;
}

.pink {
    width: 100%;
    margin: 30px 0;
    background-color: #f16370;
}


.white {}

.white ul {
    width: 1100px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}

.white ul li {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-top: 30px;
}

.white ul li p {
    padding-top: 5px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #463d3e;
    background-color: white;
}

.white ul li p img {
    padding-left: 5px;
}





.order ul {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
}

.order ul li {}

.order ul li p {
    font-size: 20px;
    color: #ffffff;
}




.order ul li span {
    position: relative;
}

.order ul li span:before {
    content: '';
    width: 3px;
    height: 3px;
    background: #ffffff;
    opacity: 0.9;
    border-radius: 6px;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(0% - 15px);
}





.circle {
    align-items: center;
}

.circle ul {
    width: 1152px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}


.circle ul li {
    width: 232px;
    display: inline-block;
    height: 48px;
    background-color: #ffffff;
    padding: 0 auto;
    text-align: center;
    margin: 0 auto;

}

.circle ul li img {
    width: 95px;
    height: 95px;
    border-radius: 95px;


}

.circle ul li img: hover {
    transition: 0.5s;
    transform: scale(2)
}



.circle ul li p {
    font-size: 17.5px;
    color: #404040;
    text-align: center;
}




.allcards {
    padding-top: 100px;
}

.upper-part,
.lower-part {
    width: 1152px;
    margin: 0 auto;
    margin-top: 70px;
}

.location {
    width: 1152px;
    margin: 0 auto;
}

.upper-part h2 {
    position: relative;
}

.upper-part h2:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #ee2d3f;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: -10px;

}

.row {
    display: flex;
    justify-content: space-between;

}

.card {
    width: 270px;
    /*   box-shadow: 0px 2px 2px #626262;*/


    /*    border-radius: 10px;*/
}

.card figure {
    width: 270px;
    height: 368px;
    overflow: hidden;
}

.card img {
    width: 270px;
    height: 368px;
    border: 0px solid #000;

}


.card figure img:hover {

    transition: 0.2s;
    transform: scale(1.05)
}

.texara {
    height: 120px;
    position: relative;
    margin-top: 0px;
}

.card-categ {
    font-weight: 600;
}

.card-title {
    font-weight: 600;
}

.card-price {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: end;
    font-weight: bold;
    color: #f16370;
}


.more {
    text-align: center;
    border: 1px solid #aaaaaa;
    width: 200px;
    height: 68px;
    margin-left: 860px;
    margin-bottom: 50px;
}

.more p {
    font-size: 20px;
}

.more p img {}


@media all and (min-width:320px) and (max-width:767px) {
    .main-visual {
        background: none;
    }

    header,
    main {
        width: 100%;
    }

    h2 {
        font-size: 100%;
    }

    h3 {
        font-size: 100%;
    }

    visual {
        width: 100%;
    }

    .visual > p {

        left: 0px;
    }


    .content {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .search {
        width: 100%;
    }

    .pink {
        width: 100%;
        padding: 0 30px;
    }

    .upper-part,
    .lower-part,
    .search,
    .pink,
    .white,
    .white ul,
    .banner-cont,
    .location {
        width: 100%;
    }

    .location {
        margin-top: 20px;
    }

    .pink ul li p {
        font-size: 100%;
        padding: 5px 0;

    }

    .order ul {
        width: 100%;
        margin: 0 auto;

    }

    .circle ul {
        width: 100%;
        margin: 0 auto;
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
    }


    .circle ul li {
        width: 100%;
        display: inline-block;

        background-color: #ffffff;
        padding: 0 auto;
        text-align: center;
        margin: 0 auto;

    }

    .circle ul li img {
        width: 100%;
        height: 100%;
        border-radius: 95px;


    }

    .circle ul li img: hover {
        transition: 0.5s;
        transform: scale(2)
    }



    .circle ul li p {
        font-size: 17.5px;
        color: #404040;
        text-align: center;
    }


    .card {
        width: 100%;
    }

    .card a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card figure {
        width: 50%;
        height: 100px;
    }

    .card figure img {
        width: 100%;
    }

    .texara {
        width: 50%;
    }




    .row {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }


    .more {


        width: 100%;
        height: auto;
        margin-left: 0px;

    }
}


@media all and (min-width:768px) and (max-width:1024px) {
    .visual {
        width: 100%;
    }

    .visual > p {
        position: absolute;
        left: 0px;
    }


    main {
        width: 100%;
        margin: auto;
    }



    .search {
        width: 1152px;
        margin: 0 auto;
        padding-top: 20px;
    }

    .pink {
        width: 100%;
        margin: 30px 0;
        background-color: #f16370;
    }


    .white {}

    .white ul {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

    }

    .white ul li {
        display: block;
        width: 50%;
        height: auto;

    }

    .white ul li p {
        padding-top: 5px;
        height: 40px;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        color: #463d3e;
        background-color: white;
    }

    .white ul li p img {
        padding-left: 5px;
    }





    .order ul {
        width: 500px;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 10px;
    }

    .order ul li {}

    .order ul li p {
        font-size: 20px;
        color: #ffffff;
    }




    .order ul li span {
        position: relative;
    }

    .order ul li span:before {
        content: '';
        width: 3px;
        height: 3px;
        background: #ffffff;
        opacity: 0.9;
        border-radius: 6px;
        position: absolute;
        left: calc(50% - 10px);
        top: calc(0% - 15px);
    }





    .circle {
        align-items: center;
    }

    .circle ul {
        width: 1152px;
        margin: 0 auto;
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
    }


    .circle ul li {
        width: 232px;
        display: inline-block;
        height: 48px;
        background-color: #ffffff;
        padding: 0 auto;
        text-align: center;
        margin: 0 auto;

    }

    .circle ul li img {
        width: 95px;
        height: 95px;
        border-radius: 95px;


    }

    .circle ul li img: hover {
        transition: 0.5s;
        transform: scale(2)
    }



    .circle ul li p {
        font-size: 17.5px;
        color: #404040;
        text-align: center;
    }




    .allcards {
        padding-top: 100px;
    }

    .upper-part,
    .lower-part {
        width: 1152px;
        margin: 0 auto;
        margin-top: 70px;
    }

    .location {
        width: 1152px;
        margin: 0 auto;
    }

    .upper-part h2 {
        position: relative;
    }

    .upper-part h2:before {
        content: '';
        width: 10px;
        height: 10px;
        background: #ee2d3f;
        border-radius: 10px;
        position: absolute;
        left: 0;
        top: -10px;

    }

    .row {
        display: flex;
        justify-content: space-between;

    }

    .card {
        width: 270px;
        /*   box-shadow: 0px 2px 2px #626262;*/


        /*    border-radius: 10px;*/
    }

    .card figure {
        width: 270px;
        height: 368px;
        overflow: hidden;
    }

    .card img {
        width: 270px;
        height: 368px;
        border: 0px solid #000;

    }


    .card figure img:hover {

        transition: 0.2s;
        transform: scale(1.05)
    }

    .texara {
        height: 120px;
        position: relative;
        margin-top: 0px;
    }

    .card-categ {
        font-weight: 600;
    }

    .card-title {
        font-weight: 600;
    }

    .card-price {
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: end;
        font-weight: bold;
        color: #f16370;
    }


    .more {
       
        width: 100%;
       
        margin-left: 0%;
        margin-bottom: 50px;
    }

    .more p {
        font-size: 20px;
    }

    .more p img {}

}

@media all and (width:1024px) {
    .main-visual {
        background: none;
    }

    header,
    main {
        width: 100%;
    }


    visual {
        width: 100%;
    }

    .visual > p {

        left: 0px;
    }


    .content {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .search {
        width: 100%;
    }

    .pink {
        width: 100%;
        padding: 0 30px;
    }

    .upper-part,
    .lower-part,
    .search,
    .pink,
    .white,
    .white ul,
    .banner-cont,
    .location {
        width: 100%;
    }

    .location {
        margin-top: 20px;
    }

    .pink ul li p {
        font-size: 100%;
        padding: 5px 0;

    }

    .order ul {
        width: 100%;
        margin: 0 auto;

    }

    .circle ul {
        width: 100%;
        margin: 0 auto;
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
    }


    .circle ul li {
        width: 100%;
        display: inline-block;

        background-color: #ffffff;
        padding: 0 auto;
        text-align: center;
        margin: 0 auto;

    }

    .circle ul li img {
        width: 100%;
        height: 100%;
        border-radius: 95px;


    }

    .circle ul li img: hover {
        transition: 0.5s;
        transform: scale(2)
    }



    .circle ul li p {
        font-size: 17.5px;
        color: #404040;
        text-align: center;
    }


    .card {
        width: 100%;
    }

    .card a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card figure {
        width: 50%;
        height: 100px;
    }

    .card figure img {
        width: 100%;
    }

    .texara {
        width: 50%;
    }




    .row {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }


}
