@import url('common.css');

html,
body {

    background: none;

    height: 100%;

}



article {

    width: 100%;
    height: 100%;

    position: relative;



    display: flex;

    flex-direction: column;
    /*(가로배열을 세로배열로바꿈)*/

    align-items: center;

    justify-content: center;



}

article h2 {

    text-align: center;

    font-size: 2em;
    margin-bottom: 40px;

}





.t3d_1 {}

.t3d_1 div {

    width: 400px;

    height: 500px;

    position: relative;

    transform-style: preserve-3d;

    /*    transform:

        perspective(900px)

        rotateX(-60deg)

        rotateY(10deg);*/

}

.t3d_1 div p {

    width: 100%;
    height: 100%;

    position: absolute;

    left: 0;
    top: 0;

    /*    opacity:.3;*/

}

.t3d_1 div p:nth-of-type(1) {

    background: red;
    opacity: 50%;

    transform: rotateY(0deg) translateZ(-200px);

}

.t3d_1 div p:nth-of-type(2) {

    background: blue;
    opacity: 50%;

    transform: rotateY(90deg) translateZ(-200px);

}

.t3d_1 div p:nth-of-type(3) {

    background: green;
    opacity: 50%;

    transform: rotateY(180deg) translateZ(-200px);

}

.t3d_1 div p:nth-of-type(4) {

    background: yellow;
    opacity: 50%;

    transform: rotateY(270deg) translateZ(-200px);

}



/* hover
.t3d_1 div{transition: .5s;}
.td3_1 div:hover{transform: perspective(2000px) rotateY(90deg);}*/


/*animation*/

.t3d_1 div {
    animation: site 1.5s linear infinite alternate;
    /*
    
    animation-delay:1s; -> 1초후 실행
    animation animation-play-state: running;
    pause(정지), running(실행)
    animation-name: site;애니메이션이름 
    animation-duration: 1.5s;애니메이션속도 애니메이션속도 
    animation-timing-function: linear;일정속도유지 일정속도유지 animation-fill-mode: forwards; 0 ~ 100% 정지 
    animation-direction: alternate; 100%에서 0으로 돌아갈때 애니메이션을 유지
    animation-interaction-count:infinity; 
*/

}

.t3d_1 div.paused {
    animation-play-state: paused;
}


@keyframes site {
    50% {
        transform: rotateX(60deg) rotateY(180deg);
    }

    100% {
        transform: :rotateX(0deg) rotateY(180deg);
    }
}

.btn {
    position: absolute;
    right: 0;
    top: 0;
}





/*-----t3d_2---------*/


.t3d_2 {
    perspective: 3000px;
}

.t3d_2 div {

    width: 500px;

    height: 300px;

    position: relative;

    transform-style: preserve-3d;
    transform: rotateX(-10deg);
}


.t3d_2 div p {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 5s;
}
.t3d_2 div {
    animation: ban 8s linear infinite;}

.t3d_2 div p:nth-of-type(1) {
    background: skyblue;
    transform: rotateY(0) translateZ(350px);
}

.t3d_2 div p:nth-of-type(2) {
    background: hotpink;
    transform: rotateY(140deg) translateZ(350px);
}

.t3d_2 div p:nth-of-type(3) {
    background: yellow;
    transform: rotateY(240deg) translateZ(350px);
}

,
t3d_2 div {
    animation: ban 10s linear infinite;
}


@keyframes ban {

    0%,
    10% {
        transform: rotateX(-5deg) rotate(0deg)
    }

       30%,
    40% {
        transform: rotateX(-5deg) rotateY(120deg)
    }

    
       60%,
    70% {
        transform: rotateX(-5deg) rotate(240deg)
    }

    

    100%{transform:rotateX(-5deg) rotateY(360deg)}
    
}



t3d_2 div:hover p:nth-of-type(1){transform:rotateY(0deg) translateZ(200px); }

t3d_2 div:hover p:nth-of-type(2){transform:rotateY(120deg) translateZ(200px); }

t3d_2 div:hover p:nth-of-type(3){transform:rotateY(240deg) translateZ(200px); }




/*---------ex------------*/

.t_ex {
    perspective: 3000px;
}

.t_ex div {

    width: 500px;

    height: 500px;

    position: relative;

    transform-style: preserve-3d;
    transform: rotateX(-1deg);
}


.t_ex div p {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 3s;
}
.t_ex div {
    animation: ban 8s linear infinite;}

.t_ex div p:nth-of-type(1) {
    background: skyblue;
    transform: rotateY(-90deg) translateZ(350px);
}

.t_ex div p:nth-of-type(2) {
    background: pink;
    transform: rotateY(90deg) translateZ(350px);
}

.t_ex div p:nth-of-type(3) {
    background: gray;
    transform: rotateY(180deg) translateZ(350px);
}

.t_ex div p:nth-of-type(4) {
    background: purple;
    transform: rotateY(360deg) translateZ(350px);
}


.t_ex div {
    animation: ban 7s linear infinite;
}


@keyframes ban {

    0%,
    10% {
        transform: rotateX(-5deg) rotate(0deg)
    }

       30%,
    40% {
        transform: rotateX(-5deg) rotateY(90deg)
    }

    
       50%,
    60% {
        transform: rotateX(-5deg) rotateY(180deg)
    }

    

   70%,80%{transform:rotateX(-5deg) rotateY(270deg)}
    
}
90%,100%{transform:rotateX(-5deg) rotateY(360deg)}
    




t_ex div:hover p:nth-of-type(1){transform:rotateY(500deg) translateZ(200px); }

t_ex div:hover p:nth-of-type(2){transform:rotateY(90deg) translateZ(200px); }

t_ex div:hover p:nth-of-type(3){transform:rotateY(90deg) translateZ(200px); }

t_ex div:hover p:nth-of-type(4){transform:rotateY(90deg) translateZ(200px); }






