html,body{
    margin:0;
    background:#b4bbcb;
}
ul,li{
    margin:0; padding:0;
    list-style:none;
}
h1,h2,h3,h4,h5,h6,p{
    margin:0;padding:0;
}
a {
    text-decoration: none;
    color:#555;
}
*{
    box-sizing: border-box;
    font-size:14px;
    color: #626262
       font:14px 'playfair Displau' serif;
}



.mt130{margin-top:130px !important;}
.mt100{margin-top:100px !important;}
.mt80{margin-top:80px !important;}
.mt50{margin-top:50px !important;}
.mt30{margin-top:30px !important;}

.f_center{display: flex;
flex-wrap:wrap
}

@import url()


/*font*/
    .f_sl{font-family:'Ubuntu', sans-serof;}
