.t_1{
/*display:table;*/
  border-collapse: collapse;
}
.t_1 th,
.t_1 td{border:1px solid #000;}
.t_1 td:first-child{
    width:200px;
    height:100px;
    vertical-align: top;
}



.t_2{
    margin:100px auto;
    width:80%;
    border-collapse: collapse;
}
.t_2 caption{
    text-align:left;
    border-bottom:2px solid #555;
    font-size:24px;
    padding-bottom:16px;
    
    background:url('../p02-01-07.jpg') left 10px no-repeat;
    background-size:14px;
    text-indent:20px;
}
.t_2 th,
.t_2 td{
    border-bottom:1px solid #ddd;
    padding:12px 0;
    text-align:center;
}

.t_2 thead th{
    background:#f3f3f3;
}

.t_2 tbody th{}
.t_2 tbody td:nth-of-type(2){
    text-align:left;
    width:70%;
    
}
.t_2 tbody td p{
    width:600px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    margin:0;
}

.t_2 tfoot td{}











