@import url('common.css');
html,body{
    background:none;
    height:100%;
}

article{
    width:100%; height:100%;
    position:relative;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
article h2{
    text-align:center;
    font-size:2em; margin-bottom:40px;
}
article div{
    width:500px; 
    margin:0 auto;
}
article div img{width:100%;}


.t_1{}
.t_1 div{overflow:hidden;}
.t_1 div img{
    transition:transform 2s ease, 
               opacity 1s 1s;
/* ease-in, ease-out, ease-in-out, linear */
/* cubic-bezier.com */
    
}
.t_1 div:hover img{
    transform: scale(2);
    opacity:.5;
}



.t_2 div{
    border:1px solid #000;
}
.t_2 div img{
    transition:.5s;
    transform-origin: 70% 100%;
}
.t_2 div:hover img{
    transform: rotate(45deg);
}



.t_3 div{
    border:1px solid #000;
    perspective: 600px;
    background:#fff;
}
.t_3 div img{
    transition:.5s;
}
.t_3 div:hover img{
    transform: rotateY(30deg);
}

.t_3{
    background:#eee;
    transition:.5s;
    transform-origin: center bottom;
}
.t_3:hover{
    transform:perspective(3000px) rotateX(10deg);
    
}


.t_4 h2{
    position:relative;
    font-size:90px;
}
.t_4 h2:after{
    content:'Transform(Rotate & Skew)';
    position:absolute;
    left:0; top:0;
    color:rgba(0,0,0,0.4);
    
    transform-origin: left bottom;
    transform:
        perspective(1000px) translateX(-10px) 
        skewX(-40deg) 
        rotateX(60deg);
    
    filter:blur(5px);
}
.t_4 div{
    border:1px solid #000;
}
.t_4 div img{
    transition:.5s;
}
.t_4 div:hover img{
    transform: skew(30deg,30deg);
}




.t_5 div{
    border:1px solid #000;
}
.t_5 div img{
    transition:.5s;
}
.t_5 div:hover img{
    transform: translate(-3%,-3%);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}






